@use '~styles/mixins' as *; 




.input {
	width: 714px;
	height: 57px;
	padding: 6px 30px;
	border-radius: var(--radius);
	border: var(--border);
	font-size: 22px;
	font-weight: 400;
	background-image: url('~assets/svg/search.svg');
	background-repeat: no-repeat;
	background-position: 95% 50%;
	background-size: 26px 26px;
	outline: none;
}
	
@include sm() {	
	.input {
		max-width: 335px;
	}
	
}
	


