@use '~styles/mixins' as *;
.panel {
	display: flex;
	gap: var(--gap);
	flex-direction: column;
	@include sm() {
		gap: 9.3px;
		font-size: 14px;
	}
}
.btn {
	background-color: #A1CBF1;
	color: black;
	width: 345px;
	@include sm() {
		justify-content: space-between;
		padding: 0px 30px 0 10px;
		font-size: 12px;
		width: 192px;
		height: 37px;
	}
}
.send_btn {
	background: var(--bg-card);
	width: 345px;
	@include sm() {
		font-size: 12px;
		width: 192px;
		height: 37px;
	}
}