@use '~styles/mixins' as *;

.container {
	width: 347px;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	@include sm() {
		gap: 5px;
		width: 135px;
	}
}
.avatar {
	width: 100%;
	max-width: 347px;
	max-height: 347px;
	aspect-ratio: 1 / 1;
	overflow: hidden;
	border-radius: var(--radius);
	border: var(--border);
	@include sm() {
		max-width: 135px;
	}
}